<footer Style="min-height:250px;">
    <MudContainer MaxWidth="MaxWidth.Large" Class="border-b border-solid">
        <MudGrid>
            <MudItem xs="6" sm="4" md="3">
                <MudPaper Elevation="0">
                    <MudButton Variant="Variant.Text" Class="pb-3" DisableElevation="true" Link="/">
                        <img src="./logo-vertical.svg" Style="margin-top:1rem;height:200px" />
                    </MudButton>
                    <MudStack Justify="Justify.FlexStart" Spacing="1">
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">eHulog is a social do-gooder platform. This creates a community of trusworthy individuals in times of needs and emergencies</MudText>

                        <MudButton DisableElevation="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Send" Color="Color.Primary" Class="pl-1" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;">Dubai, UAE</MudButton>
                        <MudButton DisableElevation="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Phone" Color="Color.Primary" Class="pl-1" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;">+971559972675</MudButton>
                        <MudButton DisableElevation="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Mail" Color="Color.Primary" Class="pl-1" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;">info@ehulog.com</MudButton>
                    </MudStack>


                </MudPaper>
            </MudItem>
            <MudItem xs="6" sm="4" md="3">
                <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudStack Justify="Justify.FlexStart" Spacing="1">
                        <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};")">Quick links</MudText>
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Dashboard</MudText>
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Loans</MudText>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem xs="6" sm="4" md="3">
                <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudStack Justify="Justify.FlexStart" Spacing="1">
                        <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};")">eHulog</MudText>
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">About eHulog</MudText>
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Who we are</MudText>
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">FAQs</MudText>
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Loans</MudText>
                        <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Contact</MudText>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem xs="6" sm="4" md="3">
                <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudStack Justify="Justify.FlexStart" Spacing="1">
                        <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};")">Follow us</MudText>
                        <MudButton DisableElevation="true" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.Twitter" Size="Size.Small" Color="Color.Primary" Class="pl-1 py-0" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Twitter</MudText></MudButton>
                        <MudButton DisableElevation="true" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.Facebook" Size="Size.Small" Color="Color.Primary" Class="pl-1 py-0" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Facebook</MudText></MudButton>
                        <MudButton DisableElevation="true" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.Instagram" Size="Size.Small" Color="Color.Primary" Class="pl-1 py-0" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Instagram</MudText></MudButton>
                        <MudButton DisableElevation="true" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.LinkedIn" Size="Size.Small" Color="Color.Primary" Class="pl-1 py-0" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">LinkedIn</MudText></MudButton>
                        <MudButton DisableElevation="true" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.TikTok" Size="Size.Small" Color="Color.Primary" Class="pl-1 py-0" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">TikTok</MudText></MudButton>
                    </MudStack>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Large" Class="justify-align-center text-center">
        <MudGrid>
            <MudItem xs="12">
                <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full">
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")">Home</MudButton>
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")">About</MudButton>
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")">Services</MudButton>
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")">Contact</MudButton>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full">
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")"><MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.Twitter" aria-label="twitter"></MudIconButton></MudButton>
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")"><MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.Facebook" aria-label="facebook"></MudIconButton></MudButton>
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")"><MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.Instagram" aria-label="instagram"></MudIconButton></MudButton>
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")"><MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.LinkedIn" aria-label="linkedin"></MudIconButton></MudButton>
                    <MudButton Href="#" Target="_blank" Variant="Variant.Text" Style="@($"color:{Colors.Shades.White};text-transform:none")"><MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.TikTok" aria-label="tiktok"></MudIconButton></MudButton>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.caption" Style="@($"color:{Colors.Shades.White};")">Copyright &copy;@DateTime.Now.Year | <a style="@($"color:{Colors.Shades.White};")" href="/">eHulog.com</a></MudText>
            </MudItem>
        </MudGrid>
    </MudContainer>
</footer>