@using System.Text.Json;
@inject IStringLocalizer<HeaderAnon> L

<MudAppBar Elevation="0" DisableGutters=true ToolBarClass="d-inline-block" Class="pa-0 main-menu-app-bar anon">
    <MudPaper Width="100%" MaxWidth="100%" Class="rounded-0 top-bar d-flex" Elevation="0">
        <MudContainer MaxWidth="MaxWidth.Large" Class="pa-0 align-self-center">
            <MudToolBar DisableGutters=true Class="pa-0">
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudButton DisableElevation=true StartIcon="@Icons.TwoTone.Email" Class="py-0 mr-5" Style="@($"color:{Colors.Shades.Black};background-color:transparent !important;text-transform:lowercase; font: 500 15px/1em 'Montserrat', sans-serif;")" Variant="Variant.Text">
                        gilbert@747.live
                    </MudButton>
                    <MudButton DisableElevation=true StartIcon="@Icons.TwoTone.Phone" Class="py-0 mr-5" Style="@($"color:{Colors.Shades.Black};background-color:transparent !important;text-transform:capitalize; font: 500 15px/1em 'Montserrat', sans-serif;")" Variant="Variant.Text">
                        +971559972675
                    </MudButton>
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Class="py-0" Style="@($"color:{Colors.Shades.Black};background-color:transparent !important;text-transform:capitalize; font: 500 15px/1em 'Montserrat', sans-serif;")" Variant="Variant.Text" />
                    <MudIconButton Class="py-0 pr-0" Icon="@Icons.Custom.Brands.Instagram" Style="@($"color:{Colors.Shades.Black};background-color:transparent !important;text-transform:capitalize; font: 500 15px/1em 'Montserrat', sans-serif;")" Variant="Variant.Text" />
                </MudHidden>
            </MudToolBar>
        </MudContainer>
    </MudPaper>
    <MudPaper Width="100%" MaxWidth="100%" Class="rounded-0 bg-dark" Style="@($"background:#1d2c48 !important")" Elevation="0">
        <MudContainer MaxWidth="MaxWidth.Large" Class="pa-0">
            <MudContainer MaxWidth="MaxWidth.Large" Class="pa-0">
                <MudToolBar DisableGutters=true Class="py-2 main-menu">
                    <MudButton Variant="Variant.Text" Class="pt-2 pb-2" DisableElevation="true" OnClick="@(() => Navigation.NavigateTo("/", true))">
                        <img src="./logo-live.png" Style="height:75px" />
                    </MudButton>
                    <MudSpacer />
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        <MudCard Class="@_classIsMobileMenuHidden" Elevation="0" Style="margin-bottom:0 !important" @onclick="@(() => ToggleMobileBurgerMenu())">
                            @* <MudText>SM</MudText> *@
                            <span class="icon-bar top_bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </MudCard>
                        <style>
                            header.main-menu-app-bar.anon {
                                position: fixed !important;
                                background: transparent !important;
                                z-index: 100;
                            }

                            .mud-carousel {
                                margin-top: 150px !important;
                            }
                        </style>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                        <MudPaper Elevation="0" Style="background:transparent;border-radius:0;">
                            <MudToolBar>
                                <MudButton OnClick="@(() => { Navigation.NavigateTo("/", true); })" Href="/" Variant="Variant.Filled" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;">
                                    <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Home</MudText>
                                </MudButton>
                                <MudButton Href="/catalog/raffles" Variant="Variant.Filled" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;">
                                    <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Raffles</MudText>
                                </MudButton>
                                <MudButton Href="/catalog/inkmelive" Variant="Variant.Filled" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;">
                                    <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">InkMeLive Registration</MudText>
                                </MudButton>

                                <MudMenu AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter">
                                    <ActivatorContent>
                                        <MudButton EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White};justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;")">
                                            <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">About</MudText>
                                        </MudButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MudMenuItem>FAQs</MudMenuItem>
                                    </ChildContent>
                                </MudMenu>
                                <MudButton Href="/contact-us" Variant="Variant.Filled" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;">
                                    <MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Contact</MudText>
                                </MudButton>
                            </MudToolBar>
                        </MudPaper>
                        <MudSpacer />
                        <MudPaper Elevation="0" Style="background:transparent;border-radius:0;">
                            <MudToolBar DisableGutters=true>
                                @** <MudButton data-arengu-modal-form-id="168112437392387262" @onmouseover="@(() => IsLoginHovered=true)" @onmouseout="@(() => IsLoginHovered=false)" Variant="@(!_isLoginHovered ? Variant.Outlined : Variant.Filled)" Class="custom border-solid rounded mr-3" DisableElevation=true Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Simple Test</MudButton>
                                <MudButton data-arengu-modal-form-id="168067567396444674" @onmouseover="@(() => IsLoginHovered=true)" @onmouseout="@(() => IsLoginHovered=false)" Variant="@(!_isLoginHovered ? Variant.Outlined : Variant.Filled)" Class="custom border-solid rounded mr-3" DisableElevation=true Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Login</MudButton>
                                <MudButton OnClick="@(() => { Navigation.NavigateTo("/users/self-register", true); })" @onmouseover="@(() => IsRegisteredHovered=true)" @onmouseout="@(() => IsRegisteredHovered=false)" Variant="@(!_isRegisteredHovered ? Variant.Outlined : Variant.Filled)" Class="custom sign-up border-solid rounded" DisableElevation=true Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Be a Player</MudButton>**@
                            </MudToolBar>
                        </MudPaper>
                    </MudHidden>
                </MudToolBar>
            </MudContainer>
        </MudContainer>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true" Class="burder-menu-dropdown">
            <MudContainer MaxWidth="MaxWidth.False" Class="@(_isMobileMenuHidden ? "d-none px-0" : "px-0")">
                <MudPaper Elevation="0" Style="background:transparent;border-radius:0;">
                    <MudNavMenu>
                        <MudNavLink OnClick="@(() => { Navigation.NavigateTo("/", true); })"><MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")" Color="Color.Surface">Home</MudText></MudNavLink>
                        <MudNavGroup Title="About" Expanded="true" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")" ExpandIcon="@Icons.Material.Filled.KeyboardArrowDown">
                            <MudNavLink OnClick="@(() => { Navigation.NavigateTo("/", true); })"><MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")" Color="Color.Surface">FAQs</MudText></MudNavLink>
                            <MudNavLink OnClick="@(() => { Navigation.NavigateTo("/", true); })"><MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")" Color="Color.Surface">Get started</MudText></MudNavLink>
                        </MudNavGroup>
                        <MudNavLink OnClick="@(() => { Navigation.NavigateTo("/contact", true); })"><MudText Typo="Typo.h6" Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")" Color="Color.Surface">Contact</MudText></MudNavLink>
                    </MudNavMenu>
                    <MudDivider Class="my-3" />
                    <MudToolBar Class="pb-5">
                        @* <MudButton data-arengu-modal-form-id="168112437392387262" @onmouseover="@(() => IsLoginHovered=true)" @onmouseout="@(() => IsLoginHovered=false)" Variant="@(!_isLoginHovered ? Variant.Outlined : Variant.Filled)" Class="custom border-solid rounded mr-3" DisableElevation=true Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Simple Test</MudButton>
                        <MudButton data-arengu-modal-form-id="168067567396444674" @onmouseover="@(() => IsLoginHovered=true)" @onmouseout="@(() => IsLoginHovered=false)" Variant="@(!_isLoginHovered ? Variant.Outlined : Variant.Filled)" Class="custom border-solid rounded mr-3" DisableElevation=true Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Login</MudButton>
                        <MudButton OnClick="@(() => { Navigation.NavigateTo("/users/self-register", true); })" @onmouseover="@(() => IsRegisteredHovered=true)" @onmouseout="@(() => IsRegisteredHovered=false)" Variant="@(!_isRegisteredHovered ? Variant.Outlined : Variant.Filled)" Class="custom sign-up border-solid rounded" DisableElevation=true Style="@($"color:{Colors.Shades.White};text-transform:none;font-size:1rem;")">Be a Player</MudButton> **@
                    </MudToolBar>
                </MudPaper>
            </MudContainer>
            <MudOverlay Visible=!_isMobileMenuHidden DarkBackground="true" AutoClose="false" Absolute=true Style="z-index:-1;height:100vh" />
        </MudHidden>
    </MudPaper>
</MudAppBar>


@code {

    [Inject]
    protected IJSRuntime JSRuntime { get; set; } = default!;

    private DotNetObjectReference<HeaderAnon>? _objRef;

    private List<string> JsonLoadedScripts { get; set; } = new();

    [JSInvokable]
    public void GetLoadedScriptsFromJS(string loadedScripts)
    {
        if (!string.IsNullOrEmpty(loadedScripts))
        {
            JsonLoadedScripts = JsonSerializer.Deserialize<List<string>>(loadedScripts) ?? new();
        }
    }


    [CascadingParameter(Name = "AppDataService")]
    protected AppDataService AppDataService { get; set; } = default!;

    [Parameter]
    public string CssClasses { get; set; } = default!;

    public string _classIsMobileMenuHidden = "pa-5 navbar-toggler collapsed cursor-pointer";

    private bool _isLoginHovered = default!;

    private bool _isRegisteredHovered = default!;

    protected override async Task OnInitializedAsync()
    {
        _objRef = DotNetObjectReference.Create(this);

        await JSRuntime.InvokeVoidAsync("loadScript", "https://sdk.arengu.com/forms.js", "head");
        await JSRuntime.InvokeVoidAsync("loadScript", "https://sdk.arengu.com/modal.js", "head");
        await JSRuntime.InvokeVoidAsync("getLoadedScript", _objRef);
    }

    public bool IsLoginHovered
    {
        get
        {
            return _isLoginHovered;
        }
        set
        {
            _isLoginHovered = value;
        }
    }

    public bool IsRegisteredHovered
    {
        get
        {
            return _isRegisteredHovered;
        }
        set
        {
            _isRegisteredHovered = value;
        }
    }

    private bool _isMobileMenuHidden = true;

    public bool ToggleMobileBurgerMenu()
    {
        if (_isMobileMenuHidden == true)
        {
            _isMobileMenuHidden = false;
            _classIsMobileMenuHidden = "pa-5 navbar-toggler cursor-pointer";
        }
        else
        {
            _isMobileMenuHidden = true;
            _classIsMobileMenuHidden = "pa-5 navbar-toggler collapsed cursor-pointer";
        }

        return _isMobileMenuHidden;
    }

    private void Profile()
    {
        Navigation.NavigateTo("/login");
    }
}
