@using System.Text.RegularExpressions;

@inject IStringLocalizer<MainLayoutAnon> L

<CascadingValue Value="@AppDataService" Name="AppDataService">

    @*<h1>Country of AppDataService: </h1>
    <h1>@AppDataService.Country</h1>

    <h1>Country Currency of AppDataService: </h1>
    <h1>@AppDataService.CountryCurrency</h1> *@

    <EhulogCountryAndCurrency OnUpdatedCountry="UpdateCountry" OnUpdatedCity="UpdateCity" OnUpdatedCountryCurrency="UpdateCountryCurrency" />

    <HeaderAnon CssClasses="@($"{_cssClasses}")" />

    <SliderAnon HideIfThesePages="about-us,get-started,contact-us,users,users/,login,loans,loans/,catalog,catalog/" OnHideChange=@( () => {} ) />

    <MudMainContent Class="@($"d-flex anonymous {_cssClasses}")">
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
            @ChildContent
            <MudScrollToTop TopOffset="400" Style="z-index:2000;">
                <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
            </MudScrollToTop>
        </MudContainer>
    </MudMainContent>

    <Footer />
</CascadingValue>