@inject NavigationManager NavigationManager

@if (!hideThePage)
{
    <MudCarousel Class="mud-width-full" Style="height:32em;" AutoCycleTime="TimeSpan.FromSeconds(15)" ShowArrows="@_arrows" ShowBullets="@_bullets" EnableSwipeGesture="@_enableSwipeGesture" AutoCycle="@_autocycle" TData="object">
        <MudCarouselItem Transition="_transition" Color="@Color.Primary">
            <div class="d-flex hero object-fit" style="height:100%;background-image:url(@(Config[ConfigNames.ApiBaseUrl] + "Files/backgrounds/adventure-height-level-arm-assistance.jpg"));">
                <MudContainer Class="my-auto mx-auto pa-0 text-center" Style="z-index:2" MaxWidth="MaxWidth.Medium">
                    <MudText Typo="Typo.h3" Style="@($"color:{Colors.Shades.White};")">eHulog</MudText>
                    <MudText Typo="Typo.h5" Class="mb-4" Style="@($"color:{Colors.Shades.White};")">Your social do-gooder.<br />What is this?</MudText>
                    <MudButton Href="/get-started" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Size="Size.Small" Color="Color.Primary" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.body2" Style="@($"color:{Colors.Shades.White};")">Get started</MudText></MudButton>


                </MudContainer>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="_transition" Color="@Color.Secondary">
            <div class="d-flex hero object-fit" style="height:100%;background-image:url(@(Config[ConfigNames.ApiBaseUrl] + "Files/backgrounds/hands-give-money.jpg"));">
                <MudContainer Class="my-auto mx-auto pa-0 text-center" Style="z-index:2" MaxWidth="MaxWidth.Medium">
                    <MudText Typo="Typo.h3" Style="@($"color:{Colors.Shades.White};")">Lender or Lessee</MudText>
                    <MudText Typo="Typo.h5" Class="mb-4" Style="@($"color:{Colors.Shades.White};")">Choose your social standing and be responsible?</MudText>
                    <MudButton Href="/users/self-register" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Size="Size.Small" Color="Color.Primary" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.body2" Style="@($"color:{Colors.Shades.White};")">Register now</MudText></MudButton>
                </MudContainer>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="_transition">
            <div class="d-flex hero object-fit" style="height:100%;background-image:url(@(Config[ConfigNames.ApiBaseUrl] + "Files/backgrounds/money-world-map-world-map-wallpaper.jpg"));">
                <MudContainer Class="my-auto mx-auto pa-0 text-center" Style="z-index:2" MaxWidth="MaxWidth.Medium">
                    <MudText Typo="Typo.h3" Style="@($"color:{Colors.Shades.White};")">About us</MudText>
                    <MudText Typo="Typo.h5" Class="mb-4" Style="@($"color:{Colors.Shades.White};")">eHulog recognize the value of being a real change</MudText>
                    <MudButton Href="/about-us" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Size="Size.Small" Color="Color.Primary" Style="justify-content:left;box-shadow:none !important;text-transform:none;background:transparent;"><MudText Typo="Typo.body2" Style="@($"color:{Colors.Shades.White};")">About eHulog</MudText></MudButton>
                </MudContainer>
            </div>
        </MudCarouselItem>
    </MudCarousel>
}

@code {
    [Parameter]
    public string HideIfThesePages { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnHideChange { get; set; }

    private string _currentUrl = default!;
    private Uri _uri = default!;

    private bool _arrows = true;
    private bool _bullets = true;
    private bool _enableSwipeGesture = true;
    private bool _autocycle = true;
    private Transition _transition = Transition.Slide;

    private bool hideThePage = false;

    private String[] _arrHideIfThesePages = default!;

    protected override void OnInitialized()
    {
        _arrHideIfThesePages = HideIfThesePages.Split(",", StringSplitOptions.RemoveEmptyEntries);
    }

    protected override void OnParametersSet()
    {
        _currentUrl = NavigationManager.Uri;

        _uri = new Uri(_currentUrl);

        if (_uri is { } && _uri.Segments.Count() > 1)
        {

            string targetPage = _uri.Segments.ToList().ElementAt(1).ToString();

            HidePage(_arrHideIfThesePages, targetPage);
        }
    }

    private void HidePage(String[] arrToHidePages, string targetPage)
    {
        hideThePage = false;

        if (_arrHideIfThesePages.Contains(targetPage))
        {
            hideThePage = true;
        }

        StateHasChanged();
    }
}
