<MudGrid Justify="Justify.Center">
    @{            
        <div class="d-flex justify-center mb-4">
            @if (!string.IsNullOrEmpty(ImageUrl))
            {
                <MudItem xs="12">
                    <MudCard Class="position-relative text-center" @onmouseover="@(() => Hover())" @onmouseleave="@(() => ClearHover())">
                        <MudCardContent>
                            <MudAvatar Square="true" Image="@ImageUrl" Style=" width:100%;height:auto;position:relative"></MudAvatar>
                        </MudCardContent>
                        <MudOverlay Visible="@_isHovered" DarkBackground="true" Absolute="true" Class="text-center">
                            <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank" StartIcon="@Icons.Filled.RemoveRedEye" Link="@ImageUrl" Style="margin-left:5px;">
                                View
                            </MudButton> <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Filled.RemoveCircleOutline" Size="Size.Small" OnClick="@(async () => { Remove(); await OnRemoveImage.InvokeAsync();})">Remove</MudButton>
                        </MudOverlay>
                    </MudCard>
                </MudItem>
            }
            else
            {
                <MudItem xs="12">
                    <MudCard Class="position-relative" Elevation="0">
                        <MudCardContent Class="align-center text-center">
                            <MudButton HtmlTag="label" Variant="Variant.Text" DisableElevation="true" Style="@($"color:{Colors.Shades.Transparent}")" for="@ForName">
                                <MudIcon Icon="@EhulogIcon.CameraEyeball" Style="@($"color:{EhulogColor.GreenMoney};font-size:7.5rem;")" />
                            </MudButton>
                            <br />
                            <MudText Typo="Typo.caption" Class="d-block w-100" Style="@($"color:{Colors.BlueGrey.Lighten2}")">Upload</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </div>
    }
</MudGrid>
