@page "/accountrolepackage"

@inject IStringLocalizer<AccountRolePackage> L

<EhulogTitle Title="@L["Role and Package"]" Description="@L["Manage your account role and package subscription"]" />

@if (!_hideRolePackage)
{
    <EditForm Model="@AppUserDto" OnValidSubmit="UpdateAppUserRoleAndPackage">
        <MudCard Elevation="25">
            <MudCardContent>
                <DataAnnotationsValidator />
                <CustomValidation @ref="_customValidation" />
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Align="Align.Center" Typo="Typo.h3">@L["Roles"]</MudText>
                            <MudText Align="Align.Center" Typo="Typo.caption" Class="d-block w-100">@L["Select your role. This role determines how you will be interacting the system."]</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid Justify="Justify.Center">

                            @* <MudCard Class="@(_selectedRoleIsOpen ? "" : "cursor-pointer" )">
                        <MudText>Test</MudText>
                        </MudCard>

                        <button @onclick="@AddSelectedRoleIsOpenClass" @onclick:preventDefault @onclick:stopPropagation>Add toggle</button> *@

                            @* <input type="hidden" @bind-value="@AppUserDto.RoleId" /> *@
                            @* <MudTextField hidden @bind-Value="@AppUserDto.RoleId" For="@(() => AppUserDto.RoleId)"
                        Label="RoleId" Variant="Variant.Outlined" /> *@
                            @if (_runningRoles.Count() > 1)
                            {
                                @foreach (var role in _runningRoles)
                                {
                                    <MudItem xs="6" md="4" lg="3" onclick="@(() => UpdateRole(role))" onmouseover="@(() => HoverRole(role))" Class="cursor-pointer" Style="@(role.IsVisible ? "display:block" : "display:none")">
                                        <MudCard Class="position-relative">
                                            @{
                                                var isLender = role?.RoleDto?.Name.Equals("Lender");

                                                var isLessee = role?.RoleDto?.Name.Equals("Lessee");

                                                if (isLender.HasValue && isLender.Value == true)
                                                {
                                                    <MudCardMedia Image="./img/lender.png" Height="250" />
                                                }

                                                if (isLessee.HasValue && isLessee.Value == true)
                                                {
                                                    <MudCardMedia Image="./img/lessee.png" Height="250" />
                                                }
                                            }
                                            <MudCardContent>

                                            </MudCardContent>
                                            <MudCardActions>
                                                <MudGrid>
                                                    <MudItem xs="2">
                                                        @{
                                                            var isLender = role?.RoleDto?.Name.Equals("Lender");

                                                            var isLessee = role?.RoleDto?.Name.Equals("Lessee");

                                                            if (isLender.HasValue && isLender.Value == true)
                                                            {
                                                                <MudImage Src="./img/lender.png" Height="50" />
                                                            }

                                                            if (isLessee.HasValue && isLessee.Value == true)
                                                            {
                                                                <MudImage Src="./img/lessee.png" Height="50" />
                                                            }
                                                        }
                                                    </MudItem>
                                                    <MudItem xs="10">
                                                        <MudText Typo="Typo.h5" Color="Color.Warning">@role?.RoleDto?.Name</MudText>
                                                        <MudText Typo="Typo.body2" Color="Color.Info">@role?.RoleDto?.Description</MudText>
                                                    </MudItem>
                                                </MudGrid>

                                            </MudCardActions>
                                            @{
                                                var roleSelected = @role?.IsSelected ?? false;
                                                var roleHovered = @role?.IsHovered ?? false;

                                                var keepOpen = roleSelected || roleHovered ? true : false;

                                                <MudOverlay Visible="@keepOpen" DarkBackground="true" Absolute="true" Class="text-center">
                                                    @{
                                                        var isLender = role?.RoleDto?.Name.Equals("Lender");

                                                        var isLessee = role?.RoleDto?.Name.Equals("Lessee");

                                                        if (isLender.HasValue && isLender.Value == true)
                                                        {
                                                            <MudImage Src="./img/lender.png" Height="80" />
                                                        }

                                                        if (isLessee.HasValue && isLessee.Value == true)
                                                        {
                                                            <MudImage Src="./img/lessee.png" Height="80" />
                                                        }
                                                    }

                                                    <MudText Typo="Typo.h5" Color="Color.Warning">@role?.RoleDto?.Name</MudText>
                                                    <MudText Typo="Typo.body2" Color="Color.Info">@role?.RoleDto?.Description</MudText>
                                                    <br />

                                                   @if (roleSelected) {
                                                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="@(() => ClearRole())">Cancel</MudButton>
                                                   }
                                                   else
                                                   {
                                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => UpdateRole(role ?? default!))">Select</MudButton>
                                                   }
                                                </MudOverlay>
                                            }
                                        </MudCard>
                                    </MudItem>
                                }
                            }
                            else
                            {
                                <MudItem xs="6" md="4">

                                    <MudContainer>

                                        @if (_runningRoles.Count() > 0)
                                        {
                                            <MudGrid>
                                                <MudItem xs="6" md="6" style="text-align:center;position:relative;">
                                                    <MudCard style="position:relative">
                                                        @if (!_runningRoles.First().IsSelected)
                                                        {
                                                            @if (_runningRoles.First().RoleDto.Name.Equals("Lender"))
                                                            {
                                                                <MudCardMedia Image="./img/lender.png" Height="100" />
                                                            }
                                                            <MudCardContent>
                                                                <MudText Typo="Typo.h5">@_runningRoles?.First().RoleDto?.Name</MudText>
                                                                <MudText Typo="Typo.body2">@_runningRoles?.First().RoleDto?.Id</MudText>
                                                            </MudCardContent>
                                                            <MudCardActions>
                                                                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                                                                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                                                            </MudCardActions>
                                                        }

                                                        <MudOverlay Visible="_runningRoles.First().IsSelected" DarkBackground="true" Absolute="true">
                                                            @if (_runningRoles.First().RoleDto.Name.Equals("Lender"))
                                                            {
                                                                <MudCardMedia Image="./img/lender.png" Height="200" />
                                                            }
                                                            <MudCardContent>
                                                                <MudHidden IsHidden="_runningRoles.First().IsSelected">
                                                                    <MudText Typo="Typo.h5">@_runningRoles?.First().RoleDto?.Name</MudText>
                                                                    <MudText Typo="Typo.body2">@_runningRoles?.First().RoleDto?.Id</MudText>
                                                                </MudHidden>
                                                            </MudCardContent>
                                                            <MudCardActions>
                                                                <MudHidden IsHidden="_runningRoles.First().IsSelected">
                                                                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                                                                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                                                                </MudHidden>
                                                            </MudCardActions>
                                                        </MudOverlay>
                                                    </MudCard>
                                                </MudItem>
                                            </MudGrid>
                                        }
                                    </MudContainer>
                                </MudItem>
                            }
                        </MudGrid>
                    </MudCardContent>

                    @if (_runningPackages.Count() > 0)
                    {
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Align="Align.Center" Typo="Typo.h3">@L["Packages"]</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid Justify="Justify.Center">
                                @* <input type="hidden" @bind-value="@AppUserDto.PackageId" /> *@
                                @* <MudTextField @bind-Value="@AppUserDto.PackageId" For="@(() => AppUserDto.PackageId)"
                        Label="PackageId" Variant="Variant.Outlined" /> *@
                                @if (_runningPackages.Count() > 1)
                                {
                                    @foreach (var package in _runningPackages)
                                    {
                                        @if (package.IsVisible)
                                        {
                                            <MudItem xs="6" md="4" onclick="@(() => UpdatePackage(package))">
                                                <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 bg-white color-black" Style="position:relative;cursor:pointer;">
                                                    <MudText Typo="Typo.caption" Align="Align.Center">
                                                        @package.PackageDto.Id<br />
                                                        @package.PackageDto.Name
                                                    </MudText>
                                                    <MudOverlay Visible="package.IsSelected" DarkBackground="true" Absolute="true">
                                                        <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Success">
                                                            @package.PackageDto.Id<br />
                                                            @package.PackageDto.Name
                                                        </MudText>
                                                    </MudOverlay>
                                                </MudPaper>
                                            </MudItem>
                                        }
                                    }
                                }
                                else
                                {
                                    <MudItem xs="6" md="4">
                                        <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 bg-white color-black" Style="position:relative;">
                                            <MudText Typo="Typo.caption" Align="Align.Center">
                                                @_runningPackages?.First().PackageDto?.Id<br />
                                                @_runningPackages?.First().PackageDto?.Name
                                            </MudText>
                                            <MudOverlay Visible="_runningPackages?.First().IsSelected ?? false" DarkBackground="true" Absolute="true">
                                                <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Success">
                                                    @_runningPackages?.First().PackageDto.Id<br />
                                                    @_runningPackages?.First().PackageDto.Name
                                                </MudText>
                                            </MudOverlay>
                                        </MudPaper>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudCardContent>
                    }
                </MudCard>
            </MudCardContent>
            <MudCardActions Class="pb-4 pl-4">
                <MudGrid Justify="Justify.FlexEnd">
                    <MudButton Variant="Variant.Filled" OnClick="@(() => ClearAppUserDto())" StartIcon="@Icons.Filled.ClearAll">
                        @L["Clear"]
                    </MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Submit" StartIcon="@Icons.Filled.Save" Class="ml-3">
                        @L["Update"]
                    </MudButton>
                </MudGrid>
            </MudCardActions>
        </MudCard>
    </EditForm>
}