@page "/about-us"

@attribute [AllowAnonymous]

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Style="@($"background:{Colors.Shades.White};height:100%")">
    <MudContainer MaxWidth="MaxWidth.Large" Class="py-5">
        <img src="./logo-vertical-black-description.svg" Style="height:200px;display:inline-block;float:left;padding-right:1rem;padding-bottom:1rem;" /> <MudText Typo="Typo.h6">eHulog is a startup that believes on human's kind-hearted soul. The characteristic behavior of humans to connect and desires an effect to change.</MudText>
        <br />
        <br />
        <MudText Typo="Typo.h6">Lenders are considered the providers of this community. They create opportunity for the needing lessees to be able to get by on those emergency and rainy days.</MudText>
        <br />
        <br />
        <MudText Typo="Typo.h6">eHulog hopefully bridge the gap for these capable needing individuals to get by without the worries where to get funds, resources in dire times or emergency cases.</MudText>
        <br />
        <br />
        <MudText Typo="Typo.h6">With these visions and missions in mind, feel free to be part of this healthy community.</MudText>
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Large" Class="py-5">
        <div class="section-header">
            <h2>Who we are</h2>
            <p>The good hearts behind the technology</p>
        </div>

        <MudGrid Justify="Justify.Center" Class="text-center">
            <MudItem xs="12" md="4">
                <MudPaper Class="speaker" Elevation="0">
                    <MudImage Src="@(Config[ConfigNames.ApiBaseUrl] + "Files/backgrounds/gilbert-ehulog.jpg")" Style="max-width:100%;width:100%;object-fit:contain;display:block"></MudImage>
                    <MudPaper Elevation="0" Class="details">
                        <MudText Typo="Typo.h5"><a href="speaker-details.html" style="@($"color:{Colors.Shades.White};")">Gilbert T. Maloloy-on</a></MudText>
                        <MudText Typo="Typo.caption" Class="mb-3" Style="@($"color:{Colors.Shades.White};")">Founder - Senior Developer</MudText>
                        <MudContainer Class="social">
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.Twitter" aria-label="twitter"></MudIconButton></MudButton>
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.Instagram" aria-label="instagram"></MudIconButton></MudButton>
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.LinkedIn" aria-label="linkedin"></MudIconButton></MudButton>
                        </MudContainer>
                    </MudPaper>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudPaper Class="speaker" Elevation="0">
                    <MudImage Src="@(Config[ConfigNames.ApiBaseUrl] + "Files/backgrounds/francis-jopia-ehulog.jpg")" Style="max-width:100%;width:100%;object-fit:contain;display:block"></MudImage>
                    <MudPaper Elevation="0" Class="details">
                        <MudText Typo="Typo.h5"><a href="speaker-details.html" style="@($"color:{Colors.Shades.White};")">Francis Jopia</a></MudText>
                        <MudText Typo="Typo.caption" Class="mb-3" Style="@($"color:{Colors.Shades.White};")">Community</MudText>
                        <MudContainer Class="social">
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.Twitter" aria-label="twitter"></MudIconButton></MudButton>
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.Instagram" aria-label="instagram"></MudIconButton></MudButton>
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.LinkedIn" aria-label="linkedin"></MudIconButton></MudButton>
                        </MudContainer>
                    </MudPaper>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudPaper Class="speaker" Elevation="0">
                    <MudImage Src="@(Config[ConfigNames.ApiBaseUrl] + "Files/backgrounds/francis-jopia-ehulog.jpg")" Style="max-width:100%;width:100%;object-fit:contain;display:block"></MudImage>
                    <MudPaper Elevation="0" Class="details">
                        <MudText Typo="Typo.h5"><a href="speaker-details.html" style="@($"color:{Colors.Shades.White};")">Armand Malapira</a></MudText>
                        <MudText Typo="Typo.caption" Class="mb-3" Style="@($"color:{Colors.Shades.White};")">Infrastructure</MudText>
                        <MudContainer Class="social">
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.Twitter" aria-label="twitter"></MudIconButton></MudButton>
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.Instagram" aria-label="instagram"></MudIconButton></MudButton>
                            <MudButton Href="#" Target="_blank" Variant="Variant.Text"><MudIconButton Style="@($"color:{Colors.Shades.White};text-transform:none")" Size="Size.Small" Icon="@Icons.Custom.Brands.LinkedIn" aria-label="linkedin"></MudIconButton></MudButton>
                        </MudContainer>
                    </MudPaper>
                </MudPaper>
            </MudItem>

        </MudGrid>
    </MudContainer>
</MudContainer>