@namespace EHULOG.BlazorWebAssembly.Client.Shared.Dialogs

<MudDialog>
    <DialogContent>
        @if (UserDetails is not null)
        {
            <MudGrid>
                <MudItem xs="12" sm="12" md="4">
                    <MudCard Elevation="0">
                        <MudCardContent Style="padding:0px!important">
                            <div class="d-flex justify-center mb-4">
                                @if (!string.IsNullOrEmpty(UserDetails.ImageUrl))
                                {
                                    <MudAvatar Square="true" Image="@($"{Config[ConfigNames.ApiBaseUrl]}{UserDetails.ImageUrl}")" Style=" width:100%;height:auto;"> </MudAvatar>
                                }
                                else
                                {
                                    <MudAvatar Square="true" Color="Color.Primary" Style="width:100%;height:300px;">@UserDetails.FirstName</MudAvatar>
                                }
                            </div>
                            <MudText Typo="Typo.h5" Class="text-center" Align="Align.Center" Color="Color.Primary">@UserDetails.FirstName @UserDetails.LastName</MudText>
                            <MudText Align="Align.Center">@UserDetails.Email</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="12" md="8">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Profile Details</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="12" md="8">
                                    <MudText Typo="Typo.body2">City: @AppUser.HomeCity</MudText>
                                    <MudText Typo="Typo.body2">Region: @AppUser.HomeRegion</MudText>
                                    <MudText Typo="Typo.body2">Country: @AppUser.HomeCountry</MudText>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudText>TODO:// Ratings and recent comments</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>TODO:// Existing loans or latest history</MudText>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                @if (IsOwner && Loan.Status.Equals(LoanStatus.Published) && IsApplicant)
                {
                    <MudItem xs="12">
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Large" OnClick="Submit">Approve</MudButton>
                        <MudTooltip Text="Approve this applicant as the lessee and manage this loan.">
                            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Info" Style="@($"color:{Colors.Grey.Darken3};")" />
                        </MudTooltip>
                    </MudItem>
                }
            </MudGrid>
        }
    </DialogContent>
</MudDialog>