@namespace EHULOG.BlazorWebAssembly.Client.Shared.Dialogs

<MudDialog>
    <DialogContent>
        @if (LoanApplicantDto is not null)
        {
            <MudGrid>
                <MudItem xs="12" Class="d-block">
                    <MudText Typo="Typo.h5" Class="text-center" Align="Align.Center" Color="Color.Primary">@LoanApplicantDto.AppUser.FirstName @LoanApplicantDto.AppUser.LastName</MudText>
                </MudItem>
                <MudItem xs="12" sm="12" md="4">
                    <MudCard Elevation="25">
                        <MudCardContent Style="padding:0px!important">
                            <div class="d-flex justify-center mb-4">
                                @if (!string.IsNullOrEmpty(LoanApplicantDto.AppUser.ImageUrl))
                                {
                                    <MudAvatar Square="true" Image="@LoanApplicantDto.AppUser.ImageUrl" Style=" width:100%;height:auto;"> </MudAvatar>
                                }
                                else
                                {
                                    <MudAvatar Square="true" Color="Color.Primary" Style="width:100%;height:300px;">@LoanApplicantDto.AppUser.FirstName</MudAvatar>
                                }
                            </div>
                            <MudText Align="Align.Center">@LoanApplicantDto.AppUser.Email</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="12" md="8">
                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Profile Details</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudText Typo="Typo.body2">City: @LoanApplicantDto.AppUser.HomeCity</MudText>
                                    <MudText Typo="Typo.body2">Region: @LoanApplicantDto.AppUser.HomeRegion</MudText>
                                    <MudText Typo="Typo.body2">Country: @LoanApplicantDto.AppUser.HomeCountry</MudText>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudText>Existing loans or latest history</MudText>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudText>Ratings and recent comments</MudText>
                                </MudItem>

                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                @if (IsOwner && LoanStatus.Equals(LoanStatus.Published))
                {
                    <MudItem xs="12">
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Large" OnClick="Submit">Approve</MudButton>
                        <MudTooltip Text="Approve this applicant as the lessee and manage this loan.">
                            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Info" Style="@($"color:{Colors.Grey.Darken3};")" />
                        </MudTooltip>
                    </MudItem>
                }
            </MudGrid>
        }
    </DialogContent>
</MudDialog>